.modal-container {
    background-color: #ffffff;
    height: calc(100% - 200px);
    border-radius: 10px;
    width: 90%;
    overflow-y: scroll;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    padding: 20px 15px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
    position: fixed;
    height: 100%;
    top: 0;
    overflow-y: scroll;
    transition: all 0.7s ease-in-out;
}

.deletePopup {
    height: auto !important;
}

.overlay.active {
    z-index: 9 !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active>.modal-container {
    z-index: 10;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .modal-container {
        width: 500px;
    }
}