.cardHeadings {
    width: 100%;
    margin: 0 auto;
}

.close-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 40px;
}

@media only screen and (min-width: 768px) {
    .cardHeadings {
        width: 400px;
    }
}